/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* GENERAL */
.container{
    max-width: 1000px;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.col{
    width: calc(100% / 3 - 20px);
    margin: 10px;
}

img{
    width: 100%;
}

.pin > img {
    max-width: 30px;
}

.pin{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -25%);
    z-index: 10;
}
/* GENERAL */

/* TYPO*/
h4{
    margin-top: 10px;
    font-family: "Edu TAS Beginner", serif;
    color: lightgray;
}
/* TYPO*/

/* HEADER */
h1{
    background-image: url('img/wall.png');
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
}
/* HEADER */

/* MAIN */
main{
    background-image: url('img/cork.png');
    min-height: 578px;
}

.card{
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin-top: 50px;
    position: relative;
}

.card:hover{
    transform: rotate(15deg);
}
/* MAIN */

/* RESPONSIVE */
@media screen and (max-width:900px){

    .container{
        padding: 0 50px;
    }

    .col{
        width: calc(100% / 2 - 20px);
    }
}

@media screen and (max-width:630px){

    .container{
        padding: 0 80px;
    }

    .col{
        width: calc(100% - 20px);
    }
}
/* RESPONSIVE */
